In [1]:
from yaml import CLoader as Loader, load, dump
import os

In [2]:
units = pd.read_csv("../sheets/test_units.csv", sep="\t").set_index(["sample_name", "unit_name"], drop=False).sort_index()
units[:3]

,,sample_name,unit_name,fastq1,fastq2,adapters3,adapters5
sample_name,unit_name,,,,,,
A1,1,A1,1,A1_FKDL210181799-1a-N701-N502_H73JCDSX2_L4_1.f...,NaN,NaN,NaN
A3,1,A3,1,A3_FKDL210181799-1a-N703-N502_H73JCDSX2_L4_1.f...,A3_FKDL210181799-1a-N703-N502_H73JCDSX2_L4_2.f...,NaN,NaN
A4,1,A4,1,A4_FKDL210181799-1a-N704-N502_H73JCDSX2_L4_1.f...,A4_FKDL210181799-1a-N704-N502_H73JCDSX2_L4_2.f...,NaN,NaN

### fastQC list

In [4]:
units['SE'] = units['fastq2'].isna() | (units['fastq2'].isna() == "")
units

,,sample_name,unit_name,fastq1,fastq2,adapters3,adapters5,SE
sample_name,unit_name,,,,,,,
A1,1,A1,1,A1_FKDL210181799-1a-N701-N502_H73JCDSX2_L4_1.f...,NaN,NaN,NaN,True
A3,1,A3,1,A3_FKDL210181799-1a-N703-N502_H73JCDSX2_L4_1.f...,A3_FKDL210181799-1a-N703-N502_H73JCDSX2_L4_2.f...,NaN,NaN,False
A4,1,A4,1,A4_FKDL210181799-1a-N704-N502_H73JCDSX2_L4_1.f...,A4_FKDL210181799-1a-N704-N502_H73JCDSX2_L4_2.f...,NaN,NaN,False

In [ ]:
path = "results/qc/fastqc"
folders = ["raw", "trim"]
reads = ["R1", "R2"]
[os.path.join(path, f"{folder}/{u[0]}-{u[1]}_{read}_fastqc.zip") for u in units[~units['SE']].index for folder in folders for read in reads]
[os.path.join(path, f"{folder}/{u[0]}-{u[1]}_fastqc.zip") for u in units[units['SE']].index for folder in folders]

w = {"sample":"A1", "unit": 1}
u = df.loc[("A1", 1),:]
u